body {
    width: 100%;
}

.nav {
    height: 100%;
    width: 100%;

}

.header {
    display: flex;
    position:static;
    flex-wrap: nowrap;
    width: 100%;
    
    
    background-color: #242424;
    height: 70px;
    ;
}


.logo {
    display: flex;
    height: 40px;
    margin-top: 16px;
    margin-right: 180px;
    margin-left: 60px;
    

}

.title {
    white-space: nowrap;
    position: sticky;
    width: 160px;
    margin-left: -140px;
    margin-top: 18px;
    color: rgb(249, 250, 246);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.faxian {
    display: flex;
    flex-wrap: nowrap;
    
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 0px;
}

.faxian a {
    color: #e9dfdf;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0px 20px;
    margin-left: 0px;
    

}




.faxian a:hover,
.faxian a.active {
    color: #fff;
    background-color: #000;
}


em {
    display: inline-block;
    white-space:nowrap;
    


}
.search{
    display:flex;
    align-items: center;
    width: 163px;
    height: 32px;
    background-color: #fff;
    margin-right: 15px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 30px;
    background-image: url('../icon/搜索.png') ;
    background-size:25px;
    background-position: 6px 5px;
    background-repeat: no-repeat;
    white-space: nowrap;
}
.search input{
    display: inline-block;
    width: 120px;
    margin-left: 35px;
    margin-right: 20px;
    color: #787878;
    
}
.author{
    display: flex;
    align-items: center;
    
}
.author a{
    display: inline-block;
    width: 90px;
    height: 32px;
    line-height: 27px;
    text-align: center;
    color: #ccc;
    border: 1px solid #4F4F4F;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 12px;
}

.author a:hover{
    color: #fff;
    border-color: #fff;
}

#creat {
    background: none;
    height: 25x;
    color: #ffffff;
    width: 100px;
    border-radius: 10px;
    padding: 0 3px;
    border: 1px solid white;
    margin: 21px 9px;
}

.loging {

    display: flex;
    width: 63px;
    margin-top: 7px;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 10px;
}

.loging a {
    color: #787878;
    margin: 22px 14px;
    white-space: nowrap;

}
.loging a:hover{
    color: #ccc;
}

.nav-nav {
    height: 35px;
    background-color: #c62b2b;
    margin-top: 0 auto;
    
    


}

.nav-bar {
    display: flex;
    height: 2px;
    background-color: #c62b2b;
}

.nav-content {
    display: flex;
    height: 33px;
    background: (255, 73, 73);
    margin: -1px auto;
    margin-left: 250px;
    align-items: center;

}

.nav-content ul li{
    display: inline-block;
    padding-right: 30px;
    
}

.nav-content a {
    color: #e4ebe1;
    font-size: 12px;
    padding: 2px 7px
}





.nav-content a:hover,
.nav-content a.active {

    color: #fff;
    background-color: #6e2121;

    border: #f1f2f3;
    border-radius: 8px;
}