.logo {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    display: inline;
    margin-inline-start: auto;
}

.images-background {
    width: 982px;
    height: 284px;
    background-color: #1e9c74;
}

.images {
    display: flex;
    width: 730px;
    height: 284px;
    margin-left: 140px;
    background-color: #5065c4;
    overflow: hidden;

}