.header_01{
display: flex;
justify-content: space-between;
border-bottom: 1px solid #ccc;
padding-bottom: 5px;
font-size: 12px;
font-weight: bold;
}
.title{
    color: #333;

}
.more{
    color: #666;

}
.more:hover{

    text-decoration: underline;
}
.header_02{
    height: 35px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px 10px ;
    padding-left: 35px;
    border-bottom: 2px solid #c10D0c;
    background: url('../images/header-img.png') no-repeat -225px -156px;
}
.header_02::after{
    content:"";
    position: absolute;
    width: 12px;
    height: 12px;
    right: 5px;
    bottom: 8px;
    background: url('../images/header-img.png')   0 -240px;
}
.header_02 .header-left{
    display: flex;
    align-items: baseline;
    bottom: 8px
}
.header_02 .title{
    font-size: 20px;
    font-weight: normal;
    color: #333;
}
.header_02 .more{
    font-size: 12px;
    color: #666;
}
.header_02 .keywords{
    position: absolute;
    display: flex;
    left: 130px;
    bottom: -1px;
    font-size: 12px;
    color: #999; 
}
.header_02 .item{
    color: #666;
}
.header_02 .line{
    margin: 0 8px;
}
